.head_text {
  background: linear-gradient(180deg, #fff 24.39%, #ffc989 90.24%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: YouSheBiaoTiHei;
  font-size: 42.102px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.spin_button1 {
  width: 160px !important;

  background-color: transparent;
  background-image: url("../../assets/bgbutton1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* border-radius: 100px;
  border: 6px solid rgba(255, 255, 255, 0.12);
  background: linear-gradient(180deg, #fff 0%, #ffc989 152.27%);
  box-shadow: 0px 0px 32px 0px #ff439e,
    0px 0px 12px 0px rgba(255, 255, 255, 0.5) inset;
  backdrop-filter: blur(16px); */
}

.spin_button {
  width: 320px;
  background-color: transparent;
  background-image: url("../../assets/bgbutton.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spin_button_disable {
  width: 320px;
  background-color: transparent;
  background-image: url("../../assets/bgbutton.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.history_click_htn {
  border-radius: 20px;
  background: var(
    --Orange-Pin-k-Linear,
    linear-gradient(
      97deg,
      #ffbe92 3.5%,
      #ff4c1c 24.69%,
      rgba(239, 25, 137, 0.8) 71.84%,
      #ffb081 97.21%
    )
  );
}
